// Colors //
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-background: rgb(255, 255, 255);

$color-text: #2B2B2B;
$color-text-secondary: #E7E7E7;
$color-title: #0E0E0E;

$color-grey-1: #BCBEC0;

$color-border: rgba(0, 0, 0, 0.5);